[user]
	email = hugocoto100305@gmail.com
	name = Hugo Coto Florez
[credentials]
	helper = store
[credential]
	helper = store
[init]
	defaultBranch = main
[push "autoSetup"]
	Remote = true
[push]
	autoSetupRemote = true
