[Desktop Entry]
Name=Balatro
Comment=Play this game on Steam
Exec=steam steam://rungameid/2379780
Icon=steam_icon_2379780
Terminal=false
Type=Application
Categories=Game;
