@-moz-document domain(github.com) {
    * {
        font-family: "sf pro display" !important;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    body {
        background: #282c34 !important;

    }

    .Label,
    svg:not(.octicon-star-fill) {
        color: #abb2bf !important;
        background: transparent !important;
    }

    svg.octicon-star-fill {
        color: #f9dc5c !important;
    }

    relative-time,
    div.text-small {
        color: #abb2bf !important;
    }

    .bgColor-muted,
    .dJnomT,
    header {
        color: #abb2bf !important;
        background: #1e2127 !important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    img.avatar {
        border: 2px solid #abb2bf !important;
    }

    .color-fg-muted {
        color: #5c6370 !important;
    }

    div.f5:nth-child(1) {
        display: none !important;
    }

    div.flash:nth-child(1),
    input {
        color: #abb2bf !important;
        background: #282c34 !important;
        box-shadow: none !important;
    }

    .csrIcr {
        color: #abb2bf !important;
        background: #1e2127 !important;
        outline: none !important;
        border: 2px solid #abb2bf !important;
        box-shadow: none !important;
        border-radius: 10px !important;
    }

    div.bg-color-default {
        background-color: transparent !important;
    }

    .filter-list,
    table:not(.Box-sc-g0xbh4-0) {
        color: #abb2bf !important;
        background: #1e2127 !important;
        outline: none !important;
        border: 1px solid #abb2bf !important;
        box-shadow: none !important;
        border-radius: 10px !important;

        tr {
            border-top: 1px solid #abb2bf !important;
            background: #1e2127 !important;
        }

        td:not(:last-child) {
            border-right: 1px solid #abb2bf !important;
        }

    }

    div.h-card {
        color: #abb2bf !important;
        background: #1e2127 !important;
        outline: none !important;
        box-shadow: none !important;

        border: 2px solid #abb2bf !important;
        border-radius: 10px !important;
        width: 100% !important;
        margin-right: 20% !important;

        div.user-profile-bio,
        .vcard-names-container,
        img {
            margin: 10% !important;
            width: 80% !important;
            height: 80% !important;
        }

        span.p-nickname {
            display: none !important;
        }
    }

    #user-profile-frame>div:nth-child(1) {
        color: #abb2bf !important;
        background: #282c34 !important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 10px !important;

        tr {
            border-top: none !important;
            background: transparent !important;
        }

        td:not(:last-child) {
            border-right: none !important;
        }
    }

    .flash-notice {
        background: #282c34 !important;
    }

    li.mb-3>div,
    li.pinned-item-list-item>div,
    body.logged-in.env-production.page-responsive.page-profile.mine div.logged-in.env-production.page-responsive.page-profile.mine div.application-main main div.container-xl.px-3.px-md-4.px-lg-5.mt-2 div.Layout.Layout--flowRow-until-md.Layout--sidebarPosition-start.Layout--sidebarPosition-flowRow-start div.Layout-main turbo-frame#user-profile-frame div div.Box.mt-4,
    .Dialog__StyledDialog-sc-uaxjsn-1,
    table.Box-sc-g0xbh4-0 {
        color: #abb2bf !important;
        background: #1e2127 !important;
        outline: none !important;
        border: 2px solid #abb2bf !important;
        box-shadow: none !important;
        border-radius: 10px !important;

        tr {
            border-top: none !important;
            background: transparent !important;
        }

        td:not(:last-child) {
            border-right: none !important;
        }
    }


    /* string */
    span.pl-s {
        color: #98c379 !important;
    }

    /* func */
    span.pl-en {
        color: #61afef !important;
    }

    /* variable */
    span.pl-s1 {
        color: #abb2bf !important;
    }

    /* type */
    span.pl-smi {
        color: #56b6c2 !important;
    }

    /* symbol */
    span.pl-c1 {
        color: #abb2bf !important;
    }

    /* keyword */
    span.pl-k {
        color: #c678dd !important;
    }

    span.pl-c {
        color: #5c6370 !important;
    }

    span,
    span.color-fg-muted,
    a,
    form,
    button {
        color: #abb2bf !important;
        background: transparent !important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .AppHeader-context-full>nav:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>a:nth-child(1)>span:nth-child(1) {
        color: #61afef !important;
        background: transparent !important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }


    /* Code snippet into box */
    pre {
        background: transparent !important;
    }

    /* Code box */
    div.snippet-clipboard-content,
    div.highlight {
        font: monospace !important;
        background: transparent !important;
        border: 1px solid #abb2bf !important;
        border-radius: 10px !important;
    }

    div.contribution-activity,
    .dItACB,
    hr,
    details,
    div.BorderGrid-row:nth-child(5),
    div.BorderGrid-row:nth-child(6) {
        display: none !important;
    }

}

/*
    div:not(.card-img-top) {
        font-size: 24px !important;
        background: #1e2127 ;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    input {
        background: #1e2127 !important;
        border: 1px solid #abb2bf !important;
        outline: none !important;
        box-shadow: none !important;
    }

    selection,
    button,
    nav {
        background: #1e2127 !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    button.btn-clear {
        background: transparent !important;
    }

    nav a.nav-link:hover {
        background: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    li {
        margin: 0 !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    ul {
        list-style: none !important;
        background: #1e2127 !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    ul[role="menubar"],
    ul[role="menu"] {
        background: #1e2127 !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    img {
        background: inherit !important;
        border: inherit !important;
        outline: inherit !important;
        box-shadow: inherit !important;
    }
    */
/* Catppuccin Macchiato Palette */

:root {
    --vimium-rosewater: #f4dbd6;
    --vimium-peach: #f5a97f;
    --vimium-green: #a6da95;
    --vimium-blue: #8aadf4;
    --vimium-lavender: #b7bdf8;
    --vimium-text: #cad3f5;
    --vimium-surface2: #5b6078;
    --vimium-surface0: #363a4f;
    --vimium-base: #24273a;
    --vimium-mantle: #1e2030;
    --vimium-crust: #181926;
}

#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
    padding: 3px 4px;
    background: var(--vimium-peach);
    border: 1;
    border-color: var(--vimium-mantle);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#vimiumHintMarkerContainer div span {
    color: var(--vimium-mantle) !important;
    text-shadow: none;
}

#vimiumHintMarkerContainer div>.matchingCharacter {
    opacity: 1.0;
}

#vimiumHintMarkerContainer div>.matchingCharacter~span {
    color: var(--vimium-surface2);
}

#vomnibar {
    background: var(--vimium-base);
    border: 2px solid var(--vimium-lavender);
    animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    max-height: calc(100vh - 70px);
    overflow: hidden;
}

@keyframes show {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#vomnibar input {
    color: var(--vimium-text);
    background: var(--vimium-base);
    border: none;
    height: unset;
    padding: 16px 30px;
}

#vomnibar .vomnibarSearchArea {
    border: none;
    padding: unset;
    background: var(--vimium-base)
}

#vomnibar ul {
    padding: 0;
    margin: 0;
    background: var(--vimium-base);
    border-top: 1px solid var(--vimium-surface0);
}

#vomnibar li {
    padding: 10px;
    border-bottom: 1px solid var(--vimium-surface0)
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
    padding: 3px 0;
}

#vomnibar li .vomnibarSource {
    color: var(--vimium-peach);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
    color: var(--vimium-blue);
    font-weight: bold;
}

#vomnibar li .vomnibarUrl {
    color: var(--vimium-rosewater);
}

#vomnibar li .vomnibarMatch {
    color: var(--vimium-green);
    font-weight: bold;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
    color: var(--vimium-blue);
}

#vomnibar li.vomnibarSelected {
    background-color: var(--vimium-surface0);
}

div.vimiumHUD {
    background: var(--vimium-base);
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
    color: var(--vimium-text)
}

div.vimiumHUD .hud-find {
    background-color: var(--vimium-base);
    border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
    background-color: var(--vimium-base);
}

body.vimiumBody,
.vimiumBody {
    background-color: var(--vimium-base) !important;
}

.vimiumBody #footerWrapper,
#userDefinedLinkHintCss,
#scrollStepSize,
#linkHintNumbers,
#newTabUrl,
#nextPatterns,
#previousPatterns,
#searchUrl,
#linkHintCharacters,
#searchEngines,
#keyMappings,
#uploadBackup {
    color: var(--vimium-text) !important;
    background-color: var(--vimium-mantle);
}

.vimiumBody #footer,
.vimiumBody .remove,
input[name="pattern"],
input[name="passKeys"],
#uploadBackup {
    background-color: var(--vimium-mantle) !important;
    color: var(--vimium-text) !important;
}

body.vimiumBody input {
    border-color: var(--vimium-crust);
}

body.vimiumBody a {
    color: var(--vimium-lavender);
}

body.vimiumBody .exclusionHeaderText,
body.vimiumBody .example,
body.vimiumBody .caption,
body.vimiumBody header,
body.vimiumBody textarea,
body.vimiumBody input,
body.vimiumBody label {
    color: var(--vimium-text) !important;
}
