[Desktop Entry]
Name=Toggle touchpad
Exec=kitty --class floating -e sudo /home/hugo/.local/bin/toggle_touchpad.sh
Icon=utilities-terminal
Type=Application

