
@-moz-document domain(github.com) {

        body {
                font-family: "source code pro" !important;
        }

        /* string */
    span.pl-s {
        color: #aaaaaa !important;
    }
        /* func */
    span.pl-en {
        color: #66aadd !important;
    }
        /* variable */
    span.pl-s1 {
        color: #aaaaaa !important;
    }
        /* type */
    span.pl-smi {
        color: #aaaaaa !important;
    }
        /* symbol */
    span.pl-c1 {
        color: #aaaaaa !important;
    }
        /* keyword */
    span.pl-k {
        color: #9999dd !important;
    }
        /* Background */
    .dGXHv {
        background-color: #272727 !important;
    }

}
