* {
        border: none;
        border-radius: 0;
        border-color: transparent;
        border-width: 0 px;
        outline: none;
        box-shadow: none;
}        

#window {
        margin: 0 px;
        background-color: #222731;
}

#input {
        margin: 0 px;
        color: #f0f0f0;
        background-color: #222731;
}

#input:focus {
}

#inner-box {
        margin: 0px;
        background-color: #424751;
}

#outer-box {
        margin: 6px;
        background-color: #424751;
}

#scroll {
        margin: 0px;
}

#text {
        margin: 5px;
        color: #f0f0f0;
}

#entry:selected {
        background-color: #222731;
}
