* {
    color: #abb2bf;
}

#window {
margin: 5px;
background-color: #282c34;
border: 2px solid #abb2bf;
border-radius:10px;
border-width:2px;
}

#input {
margin: 5px;
color: #abb2bf;
border: none;
background-color: #282c34;
}

#inner-box {
margin: 5px;
background-color: #282c34;
}

#outer-box {
margin: 3px;
border-radius:7px;
border-width:0px;
background-color: #282c34;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #abb2bf;
}

#entry:selected {
background-color: #1e2127;
}
